body{
  width: 50%;
  text-align: center;
  min-width: 640px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0px 0px;
  border-width: 0 1px;
  background-color:rgba(0,0,0,0.20);
  box-shadow: 0px 0px 30px 24px black;

}
h1{
  text-transform: uppercase;
  color: white;
}
html {
  height: 100%;
  background: grey;
  font-family: helvetica, arial, 'sans serif';
  color: black;
}
#characters{
  padding: 0px;
  margin: 0px -150px 0px 0px;
}
article, #about{
  margin: 20px 0px;
  padding: 30px;
  color: black;
  background-color: yellow;
  line-height: 200%;
}
#snow{
  width: 720px;
}
#aboutsnow{
  padding: 10px;
}
#Clanister{
  width: 720px;
}
#aboutClanister{
  padding: 10px;
}
#Tlanister{
  width: 720px;
}
#aboutTlanister{
  padding: 10px;
}
#targaryen{
  width: 720px;
}
#abouttargaryen{
  padding: 10px;
}
#person, #future {
  margin:10px 20px; 0px 0px;
  font-size:40px;
}
#email:invalid, #postal:invalid {
  background-color:#F00;
  color:white;
}

#email:valid, #postal:valid {
  background-color:lightgreen;
}


nav a{
  color: green;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px ;
  margin: 0px 50px;
}
a{
  text-decoration: none;
  color: black
}
figure{
    width:15%;
    margin: 0px -120px 100px 140px;
    float:left;
    text-align:center;
    padding:0px;
    display: block;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder {
   text-align: center;
}

::-moz-placeholder {
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
#audio{
  text-align: center;
  margin: 0px 10px -10px 100px;
}
button {
  margin: 100px 0px 100px 0px;
  background-color: black;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px
}
#button:hover {
    background-color: red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#Gobutton{
  font-size: 80px
}
#list{
  margin: 0 50px 0 10px;
  font-size: 25px
}

#test{
  margin: 20px 0px 0px 0px;
}
#logo{
  border:0px;
  width:100%;
  max-width:960px;
}
#Rbutton{
  color: red;
  margin: 50px 0px 110px 0px;
  padding: 10px
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
nav, footer{
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin: 20px 0px 50px 0px;
  padding: 30px 0px;
  background-color: lightgreen;
}

.question input[type="text"] {
  background-color:lightgreen;
}
.questionHeading {
  color:red;
  margin:10px 0px -10px 0px;
  font-size: 30px;
}
#tried{
  text-align: center;
  margin: 10px 50px 60px -40px;
}
select, textarea, .question input {
	margin:10px 10px 20px 0px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
	color:black;
	padding:5px;
}
#submit {
  font-size:20px;
  padding:10px;
  text-transform:uppercase;
  color:white;
  background-color:black;
  text-align: center;
